@{
    ViewData["Title"] = "Profile";
}
@model PlayerProfile

<style>
    .puttoleft{
        float:left;
    }
    .puttoright {
        float: right;
    }
    #itemsList {
        overflow-y: scroll;
    }
    .profilitem {
        background-color: #f9f9f9;
        height: 9vmin;
        width: 9vmin;
        text-align: center;
        padding-left: auto;
        margin: auto;
    }
    .selecteditem{
        border: solid;
        border-color: #0026ff;
        border-width: 2px;
    }
    .profilcol {
        background-color: #e3e3e3;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        border-radius: 5px;
        margin: 5px;
        height: auto;
    }
    .row-eq-height {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <h1>Profile of @Model.Pseudo</h1>
    </div>
</div>
<div class="row row-eq-height">
    <div id="itemsList" class="col-md-1 profilcol">
        @if(Model.SelectedItems != null && Model.AvailableItems != null)
        {
            foreach (PlayerItem item in Model.AvailableItems)
            {
                if(item.Item.Type == EItemType.Avatar) { continue; }

                if (Model.SelectedItems.ContainsKey(item.Item.Type) && Model.SelectedItems[item.Item.Type] == item)
                {
                    string path = item.Item.ImageLink.ToString();
                    path = path.Insert(path.IndexOf('.'), "icon");
                    <img src=@(path) alt="Logo" class="profilitem selecteditem" />
                }
                else
                {
                    var path = item.Item.ImageLink.ToString();
                    path = path.Insert(path.IndexOf('.'), "icon");
                    <img src=@(path) alt="Logo" class="profilitem" />
                }
            }

        }
    </div>
    <div id="avatar" class="col-md-4 profilcol">
        @await Html.PartialAsync("_AvatarPartial", Model)
    </div>
    <div id="info" class="col-md-6 profilcol">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th colspan="2"><a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage" class="puttoleft navbar-brand">Account</a></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Pseudo</td>
                    <td>@Model.Pseudo</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>@User.Identity.Name</td>
                </tr>
                <tr>
                    <td>MICoins</td>
                    <td>@Model.MICoins</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
