@{
    ViewData["Title"] = "Profil";
}
<style>
    .profilcol {
        background-color: #e3e3e3;
        padding: 5px;
        border-radius: 5px;
        margin: 5px;
        height: auto;
    }
    .row-eq-height {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <h1>Profil of ...</h1>
    </div>
</div>
<div class="row row-eq-height">
    <div id="itemsList" class="col-md-1 profilcol">
        prout
    </div>
    <div id="avatar" class="col-md-4 profilcol">
        prout <br />
        prout <br />
        prout <br />
        prout <br />
    </div>
    <div id="info" class="col-md-6 profilcol">
        prout <br />
        prout 
    </div>
</div>
